{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/address_style.css">
{% endblock %}

{% block body %}
	<table class="cardmedilux table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">
          	#
          </th>
          <th scope="col">
          	<div class="input-group">
  				<input placeholder="speciality" type="text" class="form-control">
			</div>
          </th>
          <th scope="col">
          	<div class="input-group">
  				<input placeholder="Lastname" type="text" class="form-control">
			</div>
          </th>
          <th scope="col">
          	<div class="input-group">
  				<input placeholder="Firstname" type="text" class="form-control">
			</div>
          </th>
          <th scope="col">
          	<div class="input-group">
  				<input placeholder="telephone" type="text" class="form-control">
			</div>
          </th>
          <th>
          	<a type="button" class="btn btn-primary" href="{{ path ('addressbook_add') }}">{{ 'ADDRESSBOOK.ADD'|trans }}</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>555-555</td>
          <td><a type="button" class="btn btn-success" href="{{ path ('addressbook_detail') }}">{{ 'ADDRESSBOOK.DETAIL'|trans }}</a></td>
        </tr>
      </tbody>
	</table>

{% endblock %}