{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/address_style.css">
{% endblock %}

{% block body %}

<div class="datacontainerbtngrp">
    <h3>Doctors</h3><br/>
    <div class="btn-group" role="group" aria-label="Basic example">
      
      <a data-toggle="popover" data-trigger="hover" data-content="add doctor" type="button" class="btn btn-secondary" href="{{ path ('addressbook_add') }}"><i class="fas fa-user-plus"></i></a>
    </div>
</div>

<div class="datacontainer">
	<div class="table-responsive">
    	<table class=" cardmedilux table-bordered table-hover adminuserlisttable table table-striped table-dark">
          <thead>
              <form method="post">
                <tr>
                  <th scope="col">
                  	<div class="input-group">
          				<input id="specialization" for="specialization" placeholder="speciality" type="text" class="form-control">
        			</div>
                  </th>
                  <th scope="col">
                  	<div class="input-group">
          				<input placeholder="Lastname" type="text" class="form-control">
        			</div>
                  </th>
                  <th scope="col">
                  	<div class="input-group">
          				<input placeholder="Firstname" type="text" class="form-control">
        			</div>
                  </th>
                  <th scope="col">
                  	<div class="input-group">
          				<input placeholder="telephone" type="text" class="form-control">
        			</div>
                  </th>
                  <th>
                  	<a type="button" class="btn btn-primary" href="{{ path ('addressbook_list') }}">{{ 'ADDRESSBOOK.RESET'|trans }}</a>
                  </th>
                </tr>
              </form>
          </thead>
          <tbody class="searchResults">
          	{% for value in doctor %}
    
            <tr>
              
              <td>{{ value.specialization }}</td>
              <td>{{ value.lastname }}</td>
              <td>{{ value.firstname }}</td>
              <td>{{ value.telwork }}</td>
              <td>
              <!-- Button trigger modal -->
        	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ value.id }}">
              <i class="fas fa-info-circle"></i>
              </button>
              </td>
            </tr>
            
            	
            {% endfor %}
          </tbody>
    	</table>
	</div>
</div>
<!-- Modal -->
			{% for value in doctor %}
            {% for addressValue in address %}
            <div class="modal fade" id="{{ value.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog-centered modal-dialog" role="document">
                <div id="doctormodal" class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title">{{ value.title }}</h1>
                    <h1>{{ value.firstname }}</h1>
                    <h1>{{ value.lastname }}</h1><br>
                    <h2>{{ value.specialization }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                     <div class="table-responsive">
                     	 <table>
                     	 	 <thead></thead>
                         	 <tbody>
                          	<tr>
                          		<td>Language</td>
                          		<td><h6>{{ value.language }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Mobile</td>
                          		<td><h6>{{ value.mobile }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Tel. work</td>
                          		<td><h6>{{ value.telwork }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Tel.priv</td>
                          		<td><h6>{{ value.telpriv }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>email</td>
                          		<td><h6>{{ value.email }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>fax</td>
                          		<td><h6>{{ value.fax }}</h6></td>
                          	</tr>
                          	</tbody>
                          </table>
                          <h5>Address</h5>
                          <table>
                          <thead></thead>
                          <tbody>
                          	<tr>
                          		<td>ZIP</td>
                          		<td><h6>{{ addressValue.zip }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Country</td>
                          		<td><h6>{{ addressValue.country }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Locality</td>
                          		<td><h6>{{ addressValue.locality }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Municipality</td>
                          		<td><h6>{{ addressValue.municipality }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Canton</td>
                          		<td><h6>{{ addressValue.canton }}</h6></td>
                          	</tr>
                          	<tr>
                          		<td>Number</td>
                          		<td><h6>{{ addressValue.number }}</h6></td>
                          	</tr>
                          	</tbody>
                      </table>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/js/searchDoctor.js"></script>
{% endblock %}
