{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/style_nath.css">

{% endblock %}

{% block body %}

{{ form_start(patientCreationFormular) }}	

<div class="datacontainer" id="ssn">
	<h1>Patient File</h1>

	<form>
		<div class="form-row" id="ssnage" >
			<div class="form-group col-md-3">
			{{ form_label(patientCreationFormular.ssn) }}
			{{ form_widget(patientCreationFormular.ssn) }}
						
			<p> {{ 'AGE' }}</p>
			</div>	
		</div>

		<div class="form-row">
			<div class="form-group col-md-4">
    			{{ form_label(patientCreationFormular.givenname) }}
    			{{ form_widget(patientCreationFormular.givenname) }}
			</div>
			<div class="form-group col-md-4">
    			{{ form_label(patientCreationFormular.birthname) }}
    			{{ form_widget(patientCreationFormular.birthname) }}	
			</div>	
			<div class="form-group col-md-4">
    			{{ form_label(patientCreationFormular.maritalname) }}
    			{{ form_widget(patientCreationFormular.maritalname) }}			
			</div>
		</div>
		
		<div class="form-row" id="natlang">
			<div class="form-group col-md-4">
    			{{ form_label(patientCreationFormular.nationality) }}
    			{{ form_widget(patientCreationFormular.nationality) }}					
			</div>
			<div class="form-group col-md-4">
    			{{ form_label(patientCreationFormular.language) }}
    			{{ form_widget(patientCreationFormular.language) }}		
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-2">
    			{{ form_label(patientCreationFormular.streetnumber) }}
    			{{ form_widget(patientCreationFormular.streetnumber) }}		
			</div>
			<div class="form-group col-md-4">
    			{{ form_label(patientCreationFormular.street) }}
    			{{ form_widget(patientCreationFormular.street) }}						
			</div>
			<div class="form-group col-md-3">
    			{{ form_label(patientCreationFormular.locality) }}
    			{{ form_widget(patientCreationFormular.locality) }}						
			</div>
			<div class="form-group col-md-3">
    			{{ form_label(patientCreationFormular.country) }}
    			{{ form_widget(patientCreationFormular.country) }}						
			</div>
				
		</div>
		<div class="form-row">
			<div class="form-group col-md-3">
    			{{ form_label(patientCreationFormular.title) }}
    			{{ form_widget(patientCreationFormular.title) }}		
			</div>
			<div class="form-group col-md-6">
    			{{ form_label(patientCreationFormular.description) }}
    			{{ form_widget(patientCreationFormular.description) }}						
			</div>
			<div class="form-group col-md-3">
    			{{ form_label(patientCreationFormular.activeproblems) }}
    			{{ form_widget(patientCreationFormular.activeproblems) }}						
			</div>
				
		</div>

				
		</div>			

	</form>
</div>
{% endblock %}
