{% extends 'base.html.twig' %} 

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - Patient Module{% endblock %}

{% block body %}

	<div class="datacontainerbtngrp">
    <h3>{{ 'MLPATIENT.TITLE'|trans }}</h3><br/>
    
    	{% set infoMessages = app.flashes('info') %}
    {% if infoMessages is not empty %}
    <div class="container">
    	{% for message in infoMessages %}
    		<p class="bg-success p-1">{{ message }}</p>
    	{% endfor %}
    </div>
    {% endif %}
    
        <div class="btn-group"  role="group" aria-label="Basic example">
	      <button type="button" style="background-color:darkgrey" class="btn btn-secondary"><a data-toggle="popover" data-trigger="hover" data-content="Fill Address " href="{{ path ('search_patient_list') }}"><i class="fa fa-address-book-o"></i></button></a>
	      <button type="button" style="background-color:darkgrey" class="btn btn-secondary" data-toggle="modal" data-target="#adduser"><a data-toggle="popover" data-trigger="hover" data-content="add pathology"><i class="fa fa-medkit"></i></button></a>
	      <button type="button" style="background-color:darkgrey" class="btn btn-secondary"><a data-toggle="popover" data-trigger="hover" data-content="Back to Search" href="{{ path ('search_patient_list') }}"><i class="fas fa-search-plus"></i></button></a>
		</div>
    </div>



	<div class="datacontainer patientregistration">
	{{ form_start(patientCreationFormular) }}

	    <table id="patients" class="table table-dark table-striped table-bordered table-hover">		
			  <tr>
			    <td>{{ form_label(patientCreationFormular.ssn) }}</td>
			    <td>{{ form_widget(patientCreationFormular.ssn) }}</td> 
  			  </tr>
			  <tr>		
			  	<th>{{ form_label(patientCreationFormular.age) }}</th>
			  	<th>{{ form_widget(patientCreationFormular.age) }}</th> 
			  </tr>
			  <tr>
			  	<th>{{ form_label(patientCreationFormular.givenname) }}</th>
			    <th>{{ form_widget(patientCreationFormular.givenname) }}</th>
			  </tr> 
			  <tr> 
			    <th>{{ form_label(patientCreationFormular.birthname) }}</th> 
			    <th>{{ form_widget(patientCreationFormular.birthname) }}</th>
			  </tr>
			  <tr>   			    
			    <th>{{ form_label(patientCreationFormular.maritalname) }}</th> 
			    <th>{{ form_widget(patientCreationFormular.maritalname) }}</th>
			  </tr>
			  <tr>  
			    <th>{{ form_label(patientCreationFormular.nationality) }}</th> 
			    <th>{{ form_widget(patientCreationFormular.nationality) }}</th> 
			  </tr>
			  <tr>  
			    <th>{{ form_label(patientCreationFormular.language) }}</th> 
			    <th>{{ form_widget(patientCreationFormular.language) }}</th> 
			  </tr>
			  <tr>
    		  	<td></td>
			  	<td>{{ form_row(patientCreationFormular.submit) }}</td> 
  			 </tr>	
  			</table>
  		</table>	 		 
  	  </div>
	        
{#         {% for MLPATIENT in ssns %}	     #}
{#   						<button type="button" class="btn" data-toggle="modal" data-target="#{{ MLPATIENT.SSN }}">#}
{# 	 							 <a data-toggle="popover" data-trigger="hover" data-content="Add Address"><i id="addressicon" class="fas fa-address-book"></i></a>#}
{# 							</button>#}
							
{# 	  						<button type="button" class="btn" data-toggle="modal" data-target="#{{ MLPATIENT.SSN }}">#}
{# 	 							 <a data-toggle="popover" data-trigger="hover" data-content="Add Pathology"><i class="fas fa-file-medical-alt"></i></a>#}
{# 							</button>#}
          
{# 	    {% endfor %}     #}

<div class="datacontainer adminuserlist">




	
    <table id="patients" class="table table-dark table-striped table-bordered table-hover">
        <tr class="tableHeader">
            <td>Given Name</td>
			<td>Birth Name</td>
			<td>Marital Name</td>
			<td>More Options</td>
			
        </tr>
        
        {% for mlpatient in patients %}
                <tr>

                    <td>{{ mlpatient.givenname }}</td>
                    <td>{{ mlpatient.birthname }}</td>
					<td>{{ mlpatient.maritalname }}</td>
			                 
  					<td>

  						<button type="button" class="btn" data-toggle="modal" data-target="#{{ mlpatient.givenname }}">
 							 <a data-toggle="popover" data-trigger="hover" data-content="user details"><i class="fas fa-info-circle"></i></a>
						</button>
						
						{% if is_granted('ROLE_ADMIN') %}
                        	<a onclick="return confirm('Are your sure to delete the user {{ mlpatient.birthname }}?')" href="{{ path('userdelete', { 'userid': mlpatient.id }) }}" class="btn btn-danger btn-sm"><i class="fas fa-user-times"></i></a>
						{% endif %}
		
						    <a href="{{ path('patient_record', { 'userid': mlpatient.getID() }) }}" class="btn btn-default btn-sm">Edit</a>
	
	
  						<button type="button" class="btn" data-toggle="modal" data-target="#modify{{ mlpatient.givenname }}">
 							 <a data-toggle="popover" data-trigger="hover" data-content="modify user">Modify the user</a>
						</button>	
	

    <!-- The Modal -->
    <div class="modal fade" id="modify{{ mlpatient.givenname }}">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content mainbg">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">modify the user {{ mlpatient.givenname }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">

	    {{ render(controller(
        'App\\Controller\\SelectPatientController::editPatient',
        { 'patientid': mlpatient.id }
    )) }}
    				  
          
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>	

	
							                        	
					</td>
                </tr>
            
        {% endfor %}
    </table>
</div>

{% for mlpatient in patients %}
    <!-- The Modal -->
    <div class="modal fade" id="del{{ mlpatient.givenname }}">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content mainbg">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">delete user {{ mlpatient.givenname }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
          <p class="alert alert-error">Are you sure to delete ?</p>
			  
          
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>	
{% endfor %} 




{% endblock %}

