{% block body %}



<div class="datacontainer editpatient">

{% set fieldidentifier = form_widget(selectpatient.id) %}
{{ dump(fieldidentifier) }}

{{ form_start(selectpatient)  }}	
	

{{ form_label(selectpatient.givenname) }}
{{ form_widget(selectpatient.givenname, {'id':'givenname-' ~ fieldidentifier }) }}
{{ form_label(selectpatient.birthname) }}
{{ form_widget(selectpatient.birthname, {'id':'birthname-' ~ fieldidentifier }) }}
{{ form_label(selectpatient.maritalname) }}
{{ form_widget(selectpatient.maritalname, {'id':'maritalname-' ~ fieldidentifier }) }}

{{ form_label(selectpatient.submit) }}
{{ form_widget(selectpatient.submit, {'id':'submit-' ~ fieldidentifier }) }}

{{ form_rest(selectpatient) }}
{{ form_end(selectpatient)}}
</div>



{% endblock %}