{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - List Projects{% endblock %}

{% block body %}

<div class="datacontainerbtngrp">
   <h3>MediLux User</h3><br/>
   <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary"><a data-toggle="popover" data-trigger="hover" data-content="admin home"><i class="fas fa-home"></i></button></a>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#adduser"><a data-toggle="popover" data-trigger="hover" data-content="add user"><i class="fas fa-user-plus"></i></button></a>
      <button type="button" class="btn btn-secondary"><a data-toggle="popover" data-trigger="hover" data-content="search settings"><i class="fas fa-search-plus"></i></button></a>
   </div>
</div>
<div class="datacontainer adminuserlist">
<!-- User list -->
    <div class="table-responsive">
       <table id="users" class="table table-dark table-striped table-bordered table-hover adminuserlisttable">
            <tr class="tableHeader">
                <td>User Name</td>
    			<td>First Name</td>
    			<td>Last Name</td>
    			<td>More Options</td>
            </tr>
            {% for mluser in users %}
                    <tr>
                        <td>{{ mluser.username }}</td>
                        <td>{{ mluser.firstname }}</td>
    					<td>{{ mluser.lastname }}</td>
      					<td>
      						<button type="button" class="btn" data-toggle="modal" data-target="#{{ mluser.username }}">
     							 <a data-toggle="popover" data-trigger="hover" data-content="user details"><i class="fas fa-info-circle"></i></a>
    						</button>
    						{% if is_granted('ROLE_ADMIN') and mluser.username != 'admin' %}
                            	<a onclick="return confirm('Are your sure to delete the user {{ mluser.username }}?')" href="{{ path('userdelete', { 'userid': mluser.id }) }}" class="btn btn-danger btn-sm"><i class="fas fa-user-times"></i></a>
    						{% endif %}
    					    <a href="{{ path('useredit', { 'userid': mluser.getID() }) }}" class="btn btn-default btn-sm"><i class="fas fa-edit"></i></a>
                            <a href="#password-reset-popup-{{ mluser.username }}" class="open-popup-link"><i class="fas fa-key"></i></a>	
                            <div id="password-reset-popup-{{ mluser.username }}" class="white-popup mfp-hide">
                              Password reset for user {{ mluser.username }}
                              <br/>
                              ASAP
                            </div>
    					</td>
                    </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Add a user -->
<div class="modal fade" id="adduser">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="adduser2">
    <div class="modal-content mainbg" id="adduser2">
      <div class="modal-header">
        <h4 class="modal-title">add user</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="adduser">
        {{ form_start(formular_add_user) }}
        <div class="table-responsive">	
            <table class="table add_user">
              <tr>
                <th>{{ form_label(formular_add_user.username) }}</th>
                <th>{{ form_widget(formular_add_user.username) }}</th> 
              </tr>
              <tr>
                <td>{{ form_label(formular_add_user.firstname) }}</td>
                <td>{{ form_widget(formular_add_user.firstname) }}</td> 
              </tr>
              <tr>
                <td>{{ form_label(formular_add_user.lastname) }}</td>
                <td>{{ form_widget(formular_add_user.lastname) }}</td> 
              </tr>
              <tr>
                <td>{{ form_label(formular_add_user.password) }}</td>
                <td>{{ form_widget(formular_add_user.password) }}</td> 
              </tr>
              <tr>
                <td>{{ form_label(formular_add_user.roleToAdd) }}</td>
                <td>{{ form_widget(formular_add_user.roleToAdd) }}</td> 
              </tr>
              <tr>
                <td></td>
                <td>{{ form_row(formular_add_user.submit) }}</td> 
              </tr>
            </table>
        </div>
        {{ form_rest(formular_add_user) }}
        {{ form_end(formular_add_user)}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>	

<!-- User details -->
{% for mluser in users %}
    <div class="modal fade" id="{{ mluser.username }}">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content mainbg">
            <div class="modal-header">
                <h4 class="modal-title">Details for {{ mluser.username }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">          
                  <table class="table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Firstname</th>
                          <th scope="col">Lastname</th>
    					  <th scope="col">Role</th>
                        </tr>
                	</thead>  
                	<tbody>
                      <th scope="col">{{ mluser.firstname }}</th>
                      <th scope="col">{{ mluser.lastname }}</th>
    				  <th scope="col">
    				  <!-- search roles -->

                         {% for mlrole in role %}
                         
                            {% for role in mlrole.user %}
                                {% if role.id == mluser.id %}
                                    {% if mlrole.label == "ROLE_USER" %}
                    	                User
                    	            {% endif %}
        					      	{% if mlrole.label == "ROLE_ADMIN" %}
                    	                Admin
                    	            {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                      </th>            	
                	</tbody>        	
                  </table>
        		</div>
        		
        		
        		
        		
    		<!-- search Acls -->

    		     {#{ dump(mlacl.user.id) }#}
                      
            {% for mlacl in acl %}
      		{% if mlacl.user.id == mluser.id %}
      
      
                <br/>
                <h5>ACL - Modules</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">Search</th>
                              <th scope="col">Patient</th>
                              <th scope="col">Address Book</th>
                              <th scope="col">Drugs</th>
            				  <th scope="col">Admin</th>
                            </tr>
                    	</thead>
              			<tbody>
                    		<tr class="bg-success">
                        		<td>
                                    {% if mlacl.search == 1 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="granted"><i class="fas fa-check-circle"></i></a>
                                    {% endif %}
                                    {% if mlacl.search == 0 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="no permission"><i class="fas fa-times-circle"></i></a>
                                    {% endif %}
            					</td>
            					<td>
                                    {% if mlacl.patient == 1 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="granted"><i class="fas fa-check-circle"></i></a>
                                    {% endif %}
                                    {% if mlacl.patient == 0 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="no permission"><i class="fas fa-times-circle"></i></a>
                                    {% endif %}    					
            					</td>
            					<td>
                                    {% if mlacl.addressbook == 1 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="granted"><i class="fas fa-check-circle"></i></a>
                                    {% endif %}
                                    {% if mlacl.addressbook == 0 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="no permission"><i class="fas fa-times-circle"></i></a>
                                    {% endif %}
            					</td>
            					<td>
                                    {% if mlacl.drugs == 1 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="granted"><i class="fas fa-check-circle"></i></a>
                                    {% endif %}
                                    {% if mlacl.drugs == 0 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="no permission"><i class="fas fa-times-circle"></i></a>
                                    {% endif %}    					
            					</td>
            					<td>
                                    {% if mlacl.admin == 1 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="granted"><i class="fas fa-check-circle"></i></a>
                                    {% endif %}
                                    {% if mlacl.admin == 0 %}
                                    	<a data-toggle="popover" data-trigger="hover" data-content="no permission"><i class="fas fa-times-circle"></i></a>
                                    {% endif %}    					
            					</td>        		
                    		</tr>
                    	</tbody>
                    </table>
                </div>
    	    </div>
    	    {% endif %}
            {% endfor %}
           <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>	
</div>
{% endfor %}

{% endblock %}