<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MediLux{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  			<link rel="stylesheet" href="/css/style.min.css">
        {% endblock %}
    </head>


<header>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-faded" data-toggle="sticky-onscroll">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand" href="#"><img alt="" src="/images/logo-small-no-text.fw.png" height="40px"></a>
    
        <div class="collapse navbar-collapse justify-content-center" id="nav-content">
        	<ul class="navbar-nav nav" id="myNav" >
          		<li class="nav-item">
            		<a class="nav-link" id="home-tab" href="/" role="tab">{{ 'HEADER.SEARCH'|trans }}</a>
          		</li>
          		<li class="nav-item">
            		<a class="nav-link" id="description-tab" href="/" role="tab">{{ 'HEADER.PATIENT'|trans }}</a>
          		</li>
          		<li class="nav-item">
            		<a class="nav-link" id="contact-tab" href="/" role="tab">{{ 'HEADER.ADDRESSBOOK'|trans }}</a>
          		</li>
          		<li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button">{{ 'HEADER.ADMIN'|trans }}</a>
            			<div class="dropdown-menu">
                          <a class="dropdown-item" href="/">{{ 'HEADER.LISTPROJECT'|trans }}</a>
                          <a class="dropdown-item" href="/">{{ 'HEADER.CREATEPROJECT'|trans }}</a>
        
            			</div>
          		</li>
          		<li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button">{{ 'HEADER.TRANSLATIONLIST'|trans }}</a>
            			<div class="dropdown-menu">
                          <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">{{ 'HEADER.TRANSLATIONEN'|trans }}</a>
                          <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}">{{ 'HEADER.TRANSLATIONFR'|trans }}</a>
                          <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'de'}) }}">{{ 'HEADER.TRANSLATIONDE'|trans }}</a>
        
            			</div>
          		</li>
          		
          		<li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button">{{ 'HEADER.USER'|trans }}</a>
            			<div class="dropdown-menu">
                          <a class="dropdown-item" href="/">{{ 'HEADER.LOGOUT'|trans }}</a>
            			</div>
          		</li>
        
        	</ul>
    	</div>
    </nav>

</header>