<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:title" content="MediLux Demo">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://demo.medilux.doctor">
        <meta property="og:image" content="">
        <meta property="og:description" content="MediLux Demo">
        <meta property="fb:admin" content="">
        
        <title>{% block title %}MediLux{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.min.css">
        {% endblock %}
        
    </head>


<header>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-faded" data-toggle="sticky-onscroll">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand" href="#"><img alt="" src="/images/logo-small-no-text.fw.png" height="40px"></a>
    
        <div class="collapse navbar-collapse justify-content-center" id="nav-content">
        	<ul class="navbar-nav nav" id="myNav" >
          		<li class="nav-item">
            		<a class="nav-link" href="{{ path ('search_patient_list') }}" role="tab">{{ 'HEADER.SEARCHPATIENT'|trans }}</a>
          		</li>
          		<li class="nav-item">
            		<a class="nav-link" href="{{ path ('patient_record') }}" role="tab">{{ 'HEADER.PATIENTRECORD'|trans }}</a>
          		</li>
          		<li class="nav-item">
            		<a class="nav-link" href="{{ path ('addressbook_list') }}" role="tab">{{ 'HEADER.ADDRESSBOOKLIST'|trans }}</a>
          		</li>
          		<li class="nav-item">
            		<a class="nav-link" href="{{ path ('drugs_list') }}" role="tab">{{ 'HEADER.DRUGSLIST'|trans }}</a>
          		</li>
          		<li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button">{{ 'HEADER.ADMIN'|trans }}</a>
            			<div class="dropdown-menu">
                          <a class="dropdown-item" href="{{ path ('admin_main') }}">{{ 'HEADER.ADMINMAIN'|trans }}</a>

        
            			</div>
          		</li>

          		
          		<li class="nav-item dropdown">
            		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button">{{ 'HEADER.USER'|trans }}</a>
            			<div class="dropdown-menu">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            					<a class="dropdown-item" href="{{ path ('logout') }}">{{ 'HEADER.LOGOUT'|trans }}</a>
            				{% else %}
                                <a class="dropdown-item" href="{{ path ('login') }}">{{ 'HEADER.LOGIN'|trans }}</a>
                            {% endif %}
              			</div>
          		</li>
          		        
        	</ul>
    	</div>
    	
    	
    		<ul class="navbar-nav nav" id="LanguageSelector" >
    	       	<li class="nav-item dropdown LanguageSelector">
            		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button">{{ 'HEADER.TRANSLATIONLIST'|trans }}</a>
            			<div class="dropdown-menu">
                          <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">{{ 'HEADER.TRANSLATIONEN'|trans }}</a>
                          <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}">{{ 'HEADER.TRANSLATIONFR'|trans }}</a>
                          <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {'_locale': 'de'}) }}">{{ 'HEADER.TRANSLATIONDE'|trans }}</a>
        
            			</div>
          		</li>
    		</ul>
    	
    </nav>

</header>